footer{
    background-color: $obscuro;
    text-align:center;
    display:flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    @include mobile {
        display: block;
        padding-bottom: 10px;
    }
    p {
        font-size:.9rem;
        padding:10px;
        a {
            color: $claro;
            &:hover {
                color:$contraste;
            }
        }
    }
    div {
        img {
            max-width:30px;
            padding: 5px;
            margin-top:10px;
        }

    }

}