
header{
    text-align: center;
    padding: 10px;
    div{
        .logo-desktop{
            padding: 5px;
            width: 300px;
            margin-top: 15px;
        }
    }
    .nav-desktop {
        ul{
            list-style-type: none;
            li{
                display: inline-block;
                 margin-top: 20px;
                a{
                    color:$claro;
                    text-decoration: none;
                    padding: 20px;
                    &:hover{
                        color:$contraste;
                        text-decoration: underline;
                    } 
                }
            }
        }

    }
}